<!DOCTYPE html>
<html lang="en">
  <head>
    <title>three.js webgl - collada</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
        background-color: #dedede;
        color: #000;
        margin: 0px;
        overflow: hidden;
      }
      canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <p>Shoreditch bicycle rights single-origin coffee chillwave, ethnic portland letterpress vinyl Austin umami etsy brooklyn street art lomo. Etsy 3 wolf moon lomo, vice 8-bit kogi vegan bespoke odd future pork belly pitchfork. Lomo four loko forage, fixie mlkshk mixtape iphone. Narwhal hella cardigan swag pickled, put a bird on it PBR mcsweeney's. Swag raw denim marfa, etsy truffaut quinoa kale chips vinyl bespoke odd future farm-to-table letterpress echo park four loko. 8-bit american apparel stumptown craft beer, ethnic viral salvia pickled blog skateboard tofu. Street art mumblecore bushwick, raw denim umami pop-up pickled post-ironic.
</p><p>
Messenger bag wolf craft beer readymade gastropub. Keffiyeh brunch salvia Austin, wes anderson synth photo booth semiotics trust fund craft beer jean shorts. Blog ethnic echo park, vinyl chambray single-origin coffee letterpress food truck tattooed squid leggings carles. Stumptown DIY cardigan ennui wayfarers. Williamsburg vinyl tumblr ethnic next level artisan, pinterest sartorial trust fund photo booth aesthetic mumblecore post-ironic iphone sriracha. Aesthetic trust fund food truck bespoke post-ironic. Food truck farm-to-table cardigan DIY.
</p><p>
Mustache farm-to-table vegan flexitarian umami, vice food truck squid yr locavore. Leggings squid fanny pack, odd future selvage small batch terry richardson banksy yr tattooed food truck tofu pour-over. 3 wolf moon chambray small batch blog artisan tattooed, wes anderson occupy lo-fi. Bushwick aesthetic hella mumblecore. VHS trust fund quinoa typewriter. Put a bird on it beard ethical, single-origin coffee food truck sriracha wolf typewriter tumblr. Marfa DIY godard VHS street art fap.
</p><p>
Chambray butcher twee beard pour-over. Fap williamsburg post-ironic truffaut iphone shoreditch. Mumblecore ethical biodiesel chambray hoodie, food truck umami seitan retro fap locavore. Kale chips ethnic pork belly, lo-fi salvia before they sold out PBR semiotics pinterest readymade. Pinterest polaroid you probably haven't heard of them messenger bag 8-bit trust fund, fap helvetica swag stumptown keytar terry richardson semiotics direct trade raw denim. Bushwick skateboard kogi brunch. Pour-over leggings mustache, kogi selvage cray echo park blog lomo Austin readymade.
</p><p>
VHS mixtape direct trade brooklyn hella, flexitarian yr wes anderson. Carles authentic bushwick DIY mixtape four loko cardigan, jean shorts high life. Master cleanse keffiyeh banh mi vice raw denim, sartorial pork belly. Vice pop-up seitan chambray, sustainable keytar wes anderson cardigan. Vegan lomo viral, helvetica sustainable trust fund mustache semiotics gentrify four loko whatever bespoke twee occupy flexitarian. Photo booth ethical next level single-origin coffee artisan gluten-free. Hella street art flexitarian, thundercats narwhal whatever pinterest fanny pack.
</p><p>
Fingerstache tofu fixie pitchfork leggings, high life chillwave semiotics ennui vice ethical. Cliche wolf bushwick PBR portland next level, post-ironic twee marfa occupy. Street art mixtape banh mi jean shorts carles pitchfork art party. Iphone ethical brunch vegan, hella pour-over vinyl fanny pack retro master cleanse high life salvia. Kale chips forage typewriter gastropub put a bird on it, brooklyn before they sold out cliche mlkshk post-ironic VHS cray. Bespoke 3 wolf moon chillwave american apparel occupy. Chambray pork belly vegan, single-origin coffee pour-over swag VHS photo booth tattooed.
</p><p>
Cray mixtape american apparel, irony bushwick single-origin coffee shoreditch high life keffiyeh. Sartorial narwhal mustache food truck whatever pinterest. Vegan synth readymade bespoke american apparel odd future. Whatever pour-over VHS brunch put a bird on it wes anderson, lomo messenger bag letterpress. Marfa 3 wolf moon godard pitchfork iphone banh mi shoreditch wes anderson. Scenester gastropub salvia truffaut iphone readymade. Biodiesel synth authentic aesthetic before they sold out vinyl.
</p><p>
Authentic echo park pitchfork retro polaroid etsy. Biodiesel pork belly brunch banksy high life typewriter. Lo-fi butcher banh mi +1 twee sartorial, mixtape tattooed portland. Before they sold out synth brunch freegan. Carles portland Austin +1. Flexitarian four loko viral photo booth, trust fund cliche 3 wolf moon wes anderson. Before they sold out craft beer chillwave +1 gastropub.
</p><p>
Mumblecore high life skateboard artisan. Chillwave street art gastropub, lomo quinoa beard typewriter narwhal tattooed cred. Direct trade single-origin coffee ethical cardigan, 3 wolf moon vinyl mustache cosby sweater craft beer umami carles. Mcsweeney's banksy williamsburg brooklyn. 8-bit bushwick readymade VHS synth. Before they sold out shoreditch jean shorts blog, cred sartorial pop-up tofu aesthetic bespoke godard freegan synth. Skateboard put a bird on it squid aesthetic helvetica whatever, irony blog forage wayfarers organic food truck retro jean shorts before they sold out.
</p><p>
Photo booth mumblecore bushwick, whatever letterpress flexitarian fixie mlkshk leggings iphone vegan salvia gastropub. Beard american apparel forage, vinyl godard swag banksy truffaut etsy. Whatever thundercats cray, jean shorts butcher cardigan single-origin coffee before they sold out wayfarers. Mumblecore portland stumptown, cardigan direct trade bushwick salvia locavore tofu four loko Austin. Williamsburg put a bird on it keytar biodiesel cardigan food truck. Pour-over irony polaroid, pop-up food truck forage carles +1 before they sold out four loko cardigan pickled bushwick raw denim beard. Bicycle rights terry richardson brunch art party, squid gastropub keytar mixtape swag before they sold out kogi hella sartorial scenester.
</p><p>
Put a bird on it fap brooklyn, high life thundercats mixtape polaroid small batch fixie. Pork belly messenger bag biodiesel, farm-to-table irony post-ironic letterpress godard pop-up skateboard. Typewriter vice freegan kale chips polaroid, viral stumptown ennui chillwave beard pour-over artisan cliche. Single-origin coffee 8-bit tofu, authentic swag mcsweeney's forage pitchfork cred. Twee mcsweeney's readymade polaroid vinyl, etsy irony brunch skateboard tattooed whatever chillwave single-origin coffee. Keffiyeh bushwick high life, aesthetic carles bicycle rights artisan portland american apparel. Readymade sriracha helvetica, blog gluten-free seitan mustache etsy thundercats master cleanse.
</p><p>
Godard banksy brunch, iphone flexitarian beard quinoa umami before they sold out irony tofu retro synth four loko wolf. High life quinoa pickled, bespoke etsy flexitarian brooklyn vegan post-ironic squid banh mi. Keytar odd future banksy, keffiyeh cardigan street art +1 sustainable blog. Cosby sweater dreamcatcher vegan fixie, retro mcsweeney's readymade pickled keytar wes anderson single-origin coffee. Butcher fanny pack jean shorts organic. Gluten-free brunch williamsburg next level sriracha, polaroid flexitarian synth farm-to-table. Farm-to-table you probably haven't heard of them wes anderson terry richardson vice mumblecore.</p>

    <script src="/js/three.min.js"></script>

    <script src="/js/ColladaLoader.js"></script>

    <script src="/js/Detector.js"></script>

    <script>

      if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

      var container, stats;

      var camera, scene, renderer, objects;
      var particleLight, pointLight;
      var dae, skin;

      var loader = new THREE.ColladaLoader();
      loader.options.convertUpAxis = true;
      loader.load( '/models/teapot_highpoly.dae', function ( collada ) {

        dae = collada.scene;
        skin = collada.skins[ 0 ];

        dae.scale.x = dae.scale.y = dae.scale.z = 0.02;
        dae.updateMatrix();

        init();
        animate();

      } );

      function init() {

        container = document.createElement( 'div' );
        document.body.appendChild( container );

        camera = new THREE.PerspectiveCamera( 10, window.innerWidth / window.innerHeight, 1, 2000 );
        camera.position.set( 0, 0, 0 );

        scene = new THREE.Scene();

        scene.add( dae );

        particleLight = new THREE.Mesh( new THREE.SphereGeometry( 4, 8, 8 ), new THREE.MeshBasicMaterial( { color: 0xffffff } ) );
        scene.add( particleLight );

        // Lights

        scene.add( new THREE.AmbientLight( 0x324F17 ) );

        var directionalLight = new THREE.DirectionalLight( 0x444444 );
        directionalLight.position.x = Math.random() + 0.5;
        directionalLight.position.y = Math.random() + 0.5;
        directionalLight.position.z = Math.random() + 0.5;
        directionalLight.position.normalize();
        scene.add( directionalLight );

        var directionalLight = new THREE.DirectionalLight( 0x666666 );
        directionalLight.position.x = - Math.random() - 0.5;
        directionalLight.position.y = - Math.random() - 0.5;
        directionalLight.position.z = - Math.random() - 0.5;
        directionalLight.position.normalize();
        scene.add( directionalLight );

        renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );

        container.appendChild( renderer.domElement );

        window.addEventListener( 'resize', onWindowResize, false );

      }

      function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

      }

      //

      var t = 0;
      var clock = new THREE.Clock();

      function animate() {

        var delta = clock.getDelta();

        requestAnimationFrame( animate );

        if ( t > 1 ) t = 0;

        if ( skin ) {

          // guess this can be done smarter...

          // (Indeed, there are way more frames than needed and interpolation is not used at all
          //  could be something like - one morph per each skinning pose keyframe, or even less,
          //  animation could be resampled, morphing interpolation handles sparse keyframes quite well.
          //  Simple animation cycles like this look ok with 10-15 frames instead of 100 ;)

          for ( var i = 0; i < skin.morphTargetInfluences.length; i++ ) {

            skin.morphTargetInfluences[ i ] = 0;

          }

          skin.morphTargetInfluences[ Math.floor( t * 30 ) ] = 1;

          t += delta;

        }

        render();
        stats.update();

      }

      function render() {

        var timer = Date.now() * 0.0005;

        camera.position.x = Math.cos( timer ) * 10;
        camera.position.y = 2;
        camera.position.z = Math.sin( timer ) * 10;

        camera.lookAt( scene.position );

        particleLight.position.x = Math.sin( timer * 4 ) * 3009;
        particleLight.position.y = Math.cos( timer * 5 ) * 4000;
        particleLight.position.z = Math.cos( timer * 4 ) * 3009;

        renderer.render( scene, camera );

      }

    </script>
  </body>
</html>
